body, input {
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-size: 25px;
    margin: 0; /* remove document's default margin */
}

#app {
    position: fixed;
    width: 100%;
}

table#sudoku-grid {
    width: 22.5em;
    max-width: 22.5em;
    margin: 20px auto;
    border: none;
    border-collapse: collapse; /* to remove the spacing between the cells */
}

table#sudoku-grid tr {
    border: none;
}
table#sudoku-grid td {
    line-height: 2.5em; /* each td is a 2.5em square */
    border-right: 1px solid #a2a2a2;
    border-bottom: 1px solid #a2a2a2;
    padding: 0;
    text-align: center;
}

table#sudoku-grid td.fixed {
    font-weight: bold;
}

table#sudoku-grid td.editable {
    width: 2em;
}
table#sudoku-grid td.editable > input {
    width: inherit;
    font-size: 1em;
    outline: 0;
    padding: 0;
    border: 0;
    text-align: center;
    color: #3498db;
    -moz-appearance: textfield;
}
table#sudoku-grid.solved td.editable > input {
    color: #27ae60;
}

/* hide number input's arrow up and down */
table#sudoku-grid td.editable > input::-webkit-outer-spin-button,
table#sudoku-grid td.editable > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -webkit-user-select: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
table#sudoku-grid td.editable > input.pencil-note {
    color: #7f8c8d;
}

/* when editing the cell */
table#sudoku-grid td.editable.editing,
table#sudoku-grid td.editable.editing > input {
    background-color: #c2e0f4;
}

/* cell that contains 1-3 duplicates */
table#sudoku-grid td.editable.error-1 > input {
    color: #70b6e5;
}
table#sudoku-grid td.error-1,
table#sudoku-grid td.error-1 > input {
    background-color: #f7c9c4;
}
table#sudoku-grid td.error-2,
table#sudoku-grid td.error-2 > input {
    background-color: #f5b7b1;
}
table#sudoku-grid td.error-3,
table#sudoku-grid td.error-3 > input {
    background-color: #f3a59d;
}

/* the borders are thicker every 3 row and columns */
table#sudoku-grid td.col0 {
    border-left: 3px solid #2f2f2f;
}
table#sudoku-grid td.row0 {
    border-top: 3px solid #2f2f2f;
}
table#sudoku-grid td.col2,
table#sudoku-grid td.col5,
table#sudoku-grid td.col8 {
    border-right: 3px solid #2f2f2f;
}

table#sudoku-grid td.row2,
table#sudoku-grid td.row5,
table#sudoku-grid td.row8 {
    border-bottom: 3px solid #2f2f2f;
}

/* iphone 6/6+ */
@media only screen and (max-width: 950px) {
    body, input {
        font-size: 19px;
    }
    table#sudoku-grid {
        width: 85%;
        margin: 20px auto;
    }
    table#sudoku-grid td {
        line-height: 2em;
    }
    table#sudoku-grid td.editable > input {
        line-height: 2em;
    }
}
/* iphone 4/4s/5/5s */
@media only screen and (max-width: 320px) {
    body, input {
        font-size: 14px;
    }
}

/** message container that overlays the whole page **/
.overlay-message-container {
    display: none;
    position: fixed;
    top: 0;
    background-color: white;
    width: 98%;
    height: 100%;
    overflow: hidden;
    opacity: 0.95;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.overlay-message-container > .message {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.overlay-message-container > .message > button {
    color: #fff;
    border-radius: 4px;
    padding: 5px 20px;
    margin-top: 5px;
    font-size: 20px; /* this was supposed to be set together with body but was overriden by the default stylesheet */
    outline: none;
    cursor: pointer;
}
/* warning buttons */
.overlay-message-container > .message > button.warning {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.overlay-message-container > .message > button.warning:hover,
.overlay-message-container > .message > button.warning:active {
    background-color: #ec971f;
    border-color: #d58512;
}
/* success button */
.overlay-message-container > .message > button.success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.overlay-message-container > .message > button.success:hover,
.overlay-message-container > .message > button.success:active {
    background-color: #449d44;
    border-color: #398439;
}

/* warning message when orientation becomes landscape */
#orientation-warning {
    z-index: 10;
}

/* success message when user finishes solving the board */
#solved-success {
    z-index: 5;
}
#solved-success.dismissed {
    opacity: 0;
}
#solved-success > .message {
    color: #27ae60;
}

@media only screen and (max-device-width : 1024px) and (orientation: landscape) {
    .overlay-message-container > .message > button {
        padding: 2px 10px;
        font-size: 11px;
    }
    #orientation-warning {
        display: table;
    }
    body {
        font-size: 8px;
    }
    table#sudoku-grid {
        width: 50%;
        margin: 20px auto;
    }

    table#sudoku-grid td.col0 {
        border-left-width: 1.5px;
    }
    table#sudoku-grid td.row0 {
        border-top-width: 1.5px;
    }
    table#sudoku-grid td.col2,
    table#sudoku-grid td.col5,
    table#sudoku-grid td.col8 {
        border-right-width: 1.5px;
    }
    table#sudoku-grid td.row2,
    table#sudoku-grid td.row5,
    table#sudoku-grid td.row8 {
        border-bottom-width: 1.5px;
    }
}
